<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Books</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="drop_down_menu.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
<body style="background: url(image/m_library2.jpg)">
	<div class="container text-center">
		<!--<h6>Login successfully!</h6> -->
	</div>
	<div class="menu-bar">
		<ul>
			<li class="active"><a href="#">Home</a>
				<div class="sub-menu-1"></div></li>
			<!--  <li><a href="#">Add Book </a>-->
			<li><a th:href="@{/addbook-form}">Add Book </a></li>
				<!--  <div class="sub-menu-1"></div></li>-->
				<li><a th:href="@{/bookslist}">Books List</a></li>
				<!--  <div class="sub-menu-1"></div></li>-->
			<li><a th:href="@{/usersList}">Users</a>
				<div class="sub-menu-1"></div></li>
			<li><a th:href="@{/bookRequests}">Book Requests</a>
				<div class="sub-menu-1"></div></li>
			<li><a th:href="@{/issuedBooks}">Issued Books</a>
				<div class="sub-menu-1"></div></li>
			<li><a th:href="@{/logout}">logout</a></li>
		

		</ul>
		
	</div>
	<form style="position: absolute;
left: 300px;
margin: 20px;
width : 1000px;
padding: 16px;
background-color: white;" id="createaccount">
<div class="m-0 p-0 bg-dark text-light text-center d-flex align-items-center justify-content-center" 
style="height: 50px; font-size: 25px;">Requested Books</div>
	<form class="form-horizontal" role="form" th:action="@{/bookRequests}"
		th:object="${booksAndUsers}" method="get">
		<div class="col-md-9 personal-info"></div>
		

		<div class="container my-2">
			<div class="card">
				<div class="card-body">
					<div class="container my-5">
						<div class="col-md-12">
							<div>
								<table class="table table-striped table-responsive-md">
									<thead>
										<tr>
											<th>User Id</th>
											<th>User Name</th>
											<th>Book Id</th>
											<th>Book Name</th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="userAndBookDTO: ${booksAndUsers}">
											<td th:text="${userAndBookDTO.userId}"></td>
											<td th:text="${userAndBookDTO.user_name}"></td>
											<td th:text="${userAndBookDTO.book_id}"></td>
											<td th:text="${userAndBookDTO.book_name}"></td>
											<td><a
												th:href="@{/approveRequest(userbookId=${userAndBookDTO.user_and_book_id})}"
												class="btn btn-info">Approve</a></td>
										
										<td><a
												th:href="@{/declineRequest(userbookId=${userAndBookDTO.user_and_book_id})}"
												class="btn btn-info">Decline</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div align="center">
		<h6>
			<a th:href="@{/home}">Back to home</a>
		</h6></div>
	</form>
	</form>
</body>

</html>